html
{
    background-color: #252a34;
    color: #fff;
}

.content
{
    padding-left: 490px;
    font-family: 'Consolas';
}

.sidebar
{
    display: block;
    cursor: pointer;
    font-family: 'Consolas';
    float: left;
    width: 440px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    margin-left: 20px;
    padding-right: 20px;
}

.sidebar ul
{
    list-style-type: none;
}

.treedot
{
    float: left;
    color:#00ff03;
    margin-right:10px;
}

.treelink
{
    color:#b7b7ff;
}

.treename
{
}

.membertable
{
    font-size:12px;
}

.h3title
{
    color:#b7b7ff;
    padding-top:20px;
    font-size:20px;
}

.subtitle
{
    color:#00ff03;
    font-size:10px;
}

.head
{
    float:top;
}
.foot
{
    float:bottom;
}

