.content {
    padding-left: 490px;
    font-family: 'Consolas';
}

.sidebar
{
    display: block;
    cursor: pointer;
    font-family: 'Consolas';
    float: left;
    width: 440px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    margin-left: 20px;
    padding-right: 20px;
}

.sidebar ul
{
    list-style-type: none;
}

.treedot
{
    float: left;
    margin-right:10px;
}

.treename
{
}

